body {
    font-weight: bold;
}

#maincontainer {
    width: 100%;
    height: 500px;
    border: 1px solid;
}

.country {
    width: 33%;
    height: 1px;
/*
    border: 1px solid red;
*/
    float: left;
}

.list {
    width:24.5%;  
    border: 1px solid blue;
    float:left;
}

#leg {
    clear:both;
}

.leg {
    margin:5px;
    padding:3px;
    width:99%;
    height:20px;

}

#linechart {
    height: 300px;
}


/* OTHERS MIGHT DELETE */
#sources {
    font-size: 16px;
    line-height: 25px;
}

textpath.labeltext {
    font-size: 18;
    font-family: Arial, Helvetica, sans-serif;
}

.arc path {
    stroke: #FFF;
    stroke-width: 2px;
    stroke-opacity: 0.5;
}

.piecontainer {
    float: left;  
}

h1{
    text-align: center;
}

#sparkChart{
	width: 280px;
	height: 100px;
}

.clist{
	width: 33%;
}

.sel-title{
	width: 33%;
	float: left;
}
/* This should not be necessary, I do not know why Highcharts refuses
 * to accept simply setting spark.title.align: left; */
.highcharts-title{
	white-space: normal !important;
	width: 150px;
}
.highcharts-subtitle{
	white-space: normal !important;
	width: 60px;
}
.highcharts-subtitle{
	white-space: normal !important;
	width: 60px;
}
